.game-container {
    width: 600px;
    height: 400px;
    background-color: #eee;
    position: relative;
}

#mario {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
}